# Virtual environment
venv/

# Jupyter
.ipynb_checkpoints/
__pycache__/

# Large data files
data/raw_modis/
data/era5_raw/
*.tif
*.hdf
*.nc

# OS files
.DS_Store
Thumbs.db




# Jupyter cache
.ipynb_checkpoints/

# Ignore full research datasets
outputs/dust_visualization_dataset.nc
outputs/*.npy

# Allow lightweight deployment dataset
!outputs/visuals/dust_visualization_dataset_deploy.nc

# Ignore heavy research data
outputs/*.npy
outputs/*.nc

# Allow lightweight deploy dataset
!outputs/visuals/
!outputs/visuals/dust_visualization_dataset_deploy.nc
