# =========================
# Python / Virtual Env
# =========================
venv/
__pycache__/
*.pyc

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Raw Data (never versioned)
# =========================
data/
*.tif
*.hdf

# =========================
# Research Outputs (heavy)
# =========================
outputs/*.npy
outputs/*.nc

# =========================
# Allow DEPLOYMENT dataset only
# =========================
!outputs/visuals/
!outputs/visuals/dust_visualization_dataset_deploy.nc
